# These owners will be the default owners for everything in repo and/or noted folder unless a later match takes precedence
* @MicrosoftDocs/msecd-maintainers

# intune
/intune/ @LauraWi @lenewsad @Brenduns @MandiOhlinger @nicholasswhite @paolomatarazzo

# configmgr
/intune/configmgr/ @umair0204 @bhuney @Yupiter2005 @MandiOhlinger @LauraWi @lenewsad @Brenduns @nicholasswhite @paolomatarazzo
